<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <appSettings>
       <add key="inputFile" value="[Location Of Input File]/input.csv" />
       <add key="outputFile" value="[Location Of Output File]/output.csv"/>
     <add key="APKDirectory" value="[Location Of APK to be Downloaded]/APK/"/>
   </appSettings>
</configuration>